
.logo {
    float: left;
    width: 250px;
    height: 93.5px;
    border-right: solid;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    text-align: center;
    border: medium dashed green;
    background-color:cornsilk;
}

body {
    background-color: aliceblue;
}

h1 {
    margin-right: 230px;
    text-align: center;
    font-size: 28pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(30, 30, 30);
}

h2 {
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22pt;
}

h3 {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
}

h4 {
    text-align: justify;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

article {
    margin-left: 30px;
    margin-right: 30px;
}

header {
    background-color: rgb(58, 139, 143);
    border:solid;
    margin-bottom: 10px;
}

p {
    text-align: justify;
    font-size: 15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    font-size: 13pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.images {
    border: solid;
}

figure {
    text-align: center;
}

figcaption {
    color: #343434;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    border-top: solid;
    margin-top: 30px;
    margin-bottom: 10px;
}

main {
    margin-left: 260px;
    margin-right: 260px;
}

footer {
    margin-top: 10px;
    text-align: center;
    background-color: rgb(58, 139, 143);
    border: solid;
}

#copyright {
    font-size: large; 
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

#auteur {
    font-size: smaller;
    font-style: normal;
    font-weight: bold;
    color:black;
}

#pile_file_accueil, #liste_simplement_chainee, #image_pile_factorielle, #image_pile_evalExp,
#file_reseaux {
    width: 700px;
}

#ABR {
    width: 500px;
    height: 300px;
}

#ABR_parcours_profondeur, #ABR_parcours_largeur, #arbre_recursif_fibo {
    width: 600px;
    height: 400px;
}

mark {
    background-color: yellowgreen;
}

pre {
    background-color: white;
    border: 1px solid #444;;
    text-align: justify;   
}

code {
    font-family: 'Courier New', Courier, monospace;
}

#sommaire {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

table {
    border: 1px solid #333;
    border-collapse: collapse;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

td {
    border: 1px solid #444;
    padding: 8px;
    text-align:left;
}

th {
    border: 1px solid #444;
    padding: 8px;
    background-color: #f2f2f2;
    text-align: center;
}

.liste_tableaux {
    text-align: justify;
    font-style: italic;
}

caption {
    font-style: italic;
    font-weight: bold;
}

.lien_vers_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 12pt;
}

.lien_vers_page_precedente, .lien_vers_page_suivante {
    display: flex;
    align-items: center;
    gap: 6px;
}

.fleche {
    width: 15px;
    height: 15px;
}